{{#genre-filter filter=(action 'filterByGenre') as |genres|}}
    <ul class="results">
        {{#each genres as |gameUnit|}}
            <li>{{game-listing game=gameUnit}}</li>
        {{/each}}
    </ul>
{{/genre-filter}}

{{outlet}}
