{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>

    <h2>About PlayStation Now</h2>

    <p>
        PlayStation Now is a streaming game service that grants you access to hundreds of amazing PlayStation games for one low monthly rate. With PlayStation Now, you an say 'goodbye' to lengthy game downloads and installs, and say 'hello' to instant on-demand gaming of some of the best titles that the PlayStation has to offer.
    </p>

    {{#link-to 'contact' class="button"}}
        Get Started NOW!
    {{/link-to}}
</div>
